.details{
    width: 30%;
    min-height: 100px;
    height: auto;
    min-width: 180px;
}

.details .a-thumb-small{
    max-height: 120px;
}

.a-thumb, .a-title, .a-playc{
    width: 30%;
    float: left;
}

.img-svg{
    max-height: 100px;
}

.svg-loading{
    max-height: 60px;
    animation: rot 2s linear infinite;
}

@keyframes rot {
    100% {
        transform: rotate(360deg);
    }
}