.details{
    width: 30%;
    min-width: 180px;
}

.details .a-thumb-small{
    max-height: 120px;
}

.a-thumb, .a-title, .a-playc{
    width: 30%;
    float: left;
}

.img-svg{
    max-height: 100px;
}