.play{
    cursor: pointer;
    float: left;
    width: 100px;
    height: 50px;
} /* ; */ /* do not add semicolons */

.btn-disabled{
    /* fill    :rgb(168, 167, 167); */
    fill: #404040;
    cursor  : pointer;
}

.prev, .next {
    cursor: pointer;
    float: left;
    width: 100px;
    height: 50px;
    fill: #b3b3b3;
}

.controls{
    overflow: hidden;
}