$spotify-active-leftnav-green   : #1ed760;
$spotify-newplaylist-green      : #1db954;
$spotify-active-topnav-green    : #1db954;
$spotify-heart-green            : #1db954;
$spotify-tooltip-green          : #1db954;
